/* Common Nav Styles */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox Container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

/* Left Column Styles */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column > .phone-icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .phone-icon i {
    font-size: 2em;
}

.navigation-wrapper > .left-column > .hours-phone {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
}

.navigation-wrapper > .left-column > .hours-phone > .hours {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #858585;
    font-size: 0.8em;
}

/* Center Column Styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
}

.link-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.link-wrapper > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.link-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

/* Right Column Styles */
.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address-wrapper {
    font-family: "Ubuntu Condensed", sans-serif;
    text-align: right;
}

.navigation-wrapper > .right-column > .map-icon {
    font-size: 2em;
    margin-left: 15px;
}

.navigation-wrapper > .right-column > .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .address-wrapper a:hover {
    color: #cea135;
}

.navigation-wrapper > .right-column > .map-icon a {
    color: #cbcbcb;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .map-icon a:hover {
    color: #cea135;
}